{% extends 'base.html' %}

{% block content %}
	<div class="contact-detail" style="margin-left:30px; width:100%;">
		<h3>Petitioner details:</h3>

		<label class="detail_label" style="font-size:130%;">Name: </label><label id="name_label" class="detail_label" style="font-size:130%;">{{ petitioner.name }}</label></br>
		<label class="detail_label" style="font-size:130%;">Age: </label><label id="name_label" class="detail_label" style="font-size:130%;">{{ petitioner.age }}</label></br>
		<label class="detail_label" style="font-size:130%;">Nationality: </label><label id="name_label" class="detail_label" style="font-size:130%;">{{ petitioner.nationality }}</label></br>



{% endblock %}


















































